.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7vw;
  background: black;
  z-index: 11;

  .logo {
    position: absolute;
    width: 20vw;
    left: 2vw;
    top: 2vw;
  }
  
  .button {
    position: absolute;
    width: 10vw;
    height: 10vw;
    right: 0.5vw;
    top: 2vw;
  }

}

