.main {
  min-height: 300vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

.firstImage {
  position: absolute;
  left: 0;
  top: 70vh;
  width: 100%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;
}

.section1 {
  padding: 6vw 7.5vw;
  background: black;

  @media (max-width: 768px) {
    padding-top: 120px;
  }
}


  